doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .c-headlines
        .c-headlines__img-wrap.parallax.bg-image(data-stellar-background-ratio="1.2",
        data-bgimage="../uploads/gallery/Gallery_05_Original.jpg")
        .container
          .b-breadcrumbs.b-breadcrumbs--wht
            ul.b-breadcrumbs__list.x-small-txt
              li: a.link(href="index.html") main
              li: a.link(href="events.html") events
              li Private house party
          .c-headlines__ttl FRIENDS Private House Party Private Private House Party House Party
          .c-headlines__date-lg
            time(datetime="2015-09-23T08:00").date-lg
              span.date-lg__dt 23
              span.date-lg__rh
                span.date-lg__rh-m september 2015
                span.date-lg__rh-d Mon
                span.date-lg__rh-t 8:00 am
              span.date-lg__ad Free
          .hr-pattern

          ul.b-likes.b-likes--wht.c-headlines__likes
            li.b-likes__pinterest-p.
              <span>457
              <svg x="0px" y="0px"
              viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
              <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
              </svg>
              </span>
            li.b-likes__google-plus.
              <span>457
              <svg x="0px" y="0px"
              viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
              <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
              </svg>
              </span>
            li.b-likes__twitter.
              <span>457
              <svg x="0px" y="0px"
              viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
              <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
              </svg>
              </span>
            li.b-likes__facebook.
              <span>1.45K
              <svg x="0px" y="0px"
              viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
              <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
              </svg>
              </span>

      .b-content.container
        .b-panel-t.col-xs-12
          ul.b-panel-t__list.b-panel-t__arts.col-sm-8.col-md-9
            li
              p Andrew Feeling
              span Donetsk
            li
              p Shalim
              span Donetsk
            li
              p Stay B
              span Donetsk
            li
              p Someone Else
              span Mariupol
            li
              p Dranga
              span Mariupol
            li
              p Andrew Feeling
              span Donetsk
            li
              p Shalim
              span Donetsk
            li
              p Stay B
              span Donetsk
          ul.b-panel-t__list.col-sm-4.col-md-3
            li: a(href="mailto:tickets@cumeclub.com").link tickets@cumeclub.com
            li.tel: a(href="tel:+380969776011").link +38 (096) 977-60-11
        .row
          main.b-main.content.b-blog-inr.col-md-8.col-lg-7
            .txt-intro
              p Friendship - is unselfishness , personal relationship between people based on
                | sympathy, sincerity, love and trust. But still, we love loud roll
                | dancing until dawn  and then to "crawl" on the body, remember proschedshem
                | evente perekrik and share emotions we experienced some time ago.
            .main-video
              .main-video__iframe-wrap
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" allowfullscreen)
              p.b-video__figcaption.
                Your inner self will meet the full force of the summer, and we can go back to each witness
                leaving the pores, we go back to basics!
            p.
              Friendship - is unselfishness , personal relationship between people
              based on sympathy, sincerity, love and trust. But still, we love loud
              roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
               evente perekrik and share emotions we experienced some time ago.
            .b-blog-inr__aside
              .b-blog-inr__img-wrap
                img(src="../uploads/blog/open/Content_03.jpg" alt="foto")
            p.
              Friendship - is unselfishness , personal relationship between people
              based on sympathy, sincerity, love and trust. But still, we love loud
              roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
               evente perekrik and share emotions we experienced some time ago.
               Friendship - is unselfishness , personal relationship between people based
               on sympathy, sincerity, love and trust. But still, we love loud roll dancing
               until dawn  and then to "crawl" on the body, remember proschedshem evente
               perekrik and share emotions we experienced some time ago.
            p.
              Friendship - is unselfishness , personal relationship between people
              based on sympathy, sincerity, love and trust. But still, we love loud
              roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
               evente perekrik and share emotions we experienced some time ago.
            .b-blog-inr__img-wrap
              img(src="../uploads/blog/open/Content_04_wide.jpg" alt="foto")
            p.
              Friendship - is unselfishness , personal relationship between people
              based on sympathy, sincerity, love and trust. But still, we love loud
              roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
               evente perekrik and share emotions we experienced some time ago.
               Friendship - is unselfishness , personal relationship between people based
               on sympathy, sincerity, love and trust. But still, we love loud roll dancing
               until dawn  and then to "crawl" on the body, remember proschedshem evente
               perekrik and share emotions we experienced some time ago.
            h2.s2-heading Nature of the event + bullit & List
            ul
              li Participants of the event , on forms zapolennnym
              li Indoor , 3-storey mansion.
              li
                | Faith , dress , soul control. But still, we love loud roll dancing until dawn  and then
                | to "crawl" on the body
              li Waitstaff
              li Hour bar
            ol
              li Free Entrance <sup class="b-footnote__mark">*</sup>
              li Free Bar <sup class="b-footnote__mark">*</sup>
              li Free Pool <sup class="b-footnote__mark">*</sup>
              li Free Things to do on-site <sup class="b-footnote__mark">*</sup>
            .b-footnote
              p.
                <sup class="b-footnote__mark">*</sup> - Your inner self will meet the full force of the summer,
                and we can go back to each witness leaving the pores, we go back to basics!

            .b-share
              .b-item__header
                h6.s6-heading.b-item__ttl-header Share this post
              ul.b-likes.b-share__list
                li.b-likes__pinterest-p.
                  <span>457
                    <svg x="0px" y="0px"
                    viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                    <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                    </svg>
                    </span>
                li.b-likes__google-plus.
                  <span>457
                    <svg x="0px" y="0px"
                    viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                    <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                    </svg>
                    </span>
                li.b-likes__twitter.
                  <span>457
                    <svg x="0px" y="0px"
                    viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                    <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                    </svg>
                    </span>
                li.b-likes__facebook.
                  <span>1,45K
                    <svg x="0px" y="0px"
                    viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                    <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                    </svg>
                    </span>

          aside.b-aside.col-md-4.col-lg-4.col-lg-offset-1
            .row
              .b-aside-item.col-xs-12.col-sm-6.col-md-12
                .b-item__header
                  .s6-heading.b-item__ttl-header You may also like
                article.c-box.c-box-v__sm
                  .c-box__inner
                    .c-box__cont
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                    .c-box__date-item
                      time.date.c-box__date(datetime="2009-08-29T20:00")
                        span.date__dt 23
                        span.date__rh
                          span.date__rh-m sept
                          span.date__rh-d Mon
                        span.date__ad 8:00 pm
                    .b-box__img-wrap.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                    .b-box__grdnt-a
                    .c-box__link-wrap
                      .btn-pointer__wrap.
                        <a class="btn btn-pointer" href="#"><span class="btn-pointer__txt">More</span></a>
                        <svg class="btn-pointer__left" x="0px" y="0px"
                        viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve"><style type="text/css">
                        .st0{fill:#A82743;}</style>
                        <path class="st0" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                    a(href="#" rel="nofollow").b-box__link

                article.c-box.c-box-v__sm
                  .c-box__inner
                    .c-box__cont
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                    .c-box__date-item
                      time.date.c-box__date(datetime="2009-08-29T20:00")
                        span.date__dt 23
                        span.date__rh
                          span.date__rh-m sept
                          span.date__rh-d Mon
                        span.date__ad 8:00 pm
                    .b-box__img-wrap.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                    .b-box__grdnt-a
                    .c-box__link-wrap
                      .btn-pointer__wrap.
                        <a class="btn btn-pointer" href="#"><span class="btn-pointer__txt">More</span></a>
                        <svg class="btn-pointer__left" x="0px" y="0px"
                        viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve"><style type="text/css">
                        .st0{fill:#A82743;}</style>
                        <path class="st0" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                    a(href="#" rel="nofollow").b-box__link

              .b-aside-item.col-xs-12.col-sm-6.col-md-12
                .b-item__header
                  .s6-heading.b-item__ttl-header You may also like
                article.c-box
                  .c-box__inner
                    .c-box__cont
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      hr.hr-pattern
                      p.c-box__txt Stay B, Andrew Feeling, Someone Else
                    .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                    .c-box__date-item
                      time.date.c-box__date(datetime="2009-08-29T20:00")
                        span.date__dt 23
                        span.date__rh
                          span.date__rh-m sept
                          span.date__rh-d Mon
                        span.date__ad 8:00 pm
                    .c-box__link-wrap
                      .btn-pointer__wrap.
                        <a class="btn btn-pointer" href="#"><span class="btn-pointer__txt">More</span></a>
                        <svg class="btn-pointer__left" x="0px" y="0px"
                        viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve"><style type="text/css">
                        .st0{fill:#A82743;}</style>
                        <path class="st0" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                    a(href="#" rel="nofollow").b-box__link
                article.c-box
                  .c-box__inner
                    .c-box__cont
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      hr.hr-pattern
                      p.c-box__txt Stay B, Andrew Feeling, Someone Else
                    .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_10_Retina.jpg")
                    .c-box__date-item
                      time.date.c-box__date(datetime="2009-08-29T20:00")
                        span.date__dt 23
                        span.date__rh
                          span.date__rh-m sept
                          span.date__rh-d Mon
                        span.date__ad 8:00 pm
                    .c-box__link-wrap
                      .btn-pointer__wrap.
                        <a class="btn btn-pointer" href="#"><span class="btn-pointer__txt">More</span></a>
                        <svg class="btn-pointer__left" x="0px" y="0px"
                        viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve"><style type="text/css">
                        .st0{fill:#A82743;}</style>
                        <path class="st0" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                    a(href="#" rel="nofollow").b-box__link
                article.c-box
                  .c-box__inner
                    .c-box__cont
                      h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      hr.hr-pattern
                      p.c-box__txt Stay B, Andrew Feeling, Someone Else
                    .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_14_Retina.jpg")
                    .c-box__date-item
                      time.date.c-box__date(datetime="2009-08-29T20:00")
                        span.date__dt 23
                        span.date__rh
                          span.date__rh-m sept
                          span.date__rh-d Mon
                        span.date__ad 8:00 pm
                    .c-box__link-wrap
                      .btn-pointer__wrap.
                        <a class="btn btn-pointer" href="#"><span class="btn-pointer__txt">More</span></a>
                        <svg class="btn-pointer__left" x="0px" y="0px"
                        viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve"><style type="text/css">
                        .st0{fill:#A82743;}</style>
                        <path class="st0" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                    a(href="#" rel="nofollow").b-box__link

      include components/footer
    include components/scripts
