doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .b-gallery__tiles
        .b-headlines.b-headlines--color-a
          .container
            .b-breadcrumbs.b-breadcrumbs--wht
              ul.b-breadcrumbs__list.x-small-txt
                li: a.link(href="index.html") main
                li: a.link(href="gallery.html") gallery
                li Private house party
            h1.b-headlines__ttl FRIENDS Private House Party Private Private House Party House Party
        #GlrMagic.b-gallery__popup
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_01_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_01_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_02_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_02_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_11_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_11_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_06_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_06_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_07_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_07_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_10_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_10_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_13_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_13_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_14_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_14_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_15_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_15_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_08_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_08_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_05_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_05_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_09_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_09_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_03_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_03_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_04_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_04_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_05_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_05_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_02_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_02_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_10_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_10_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_07_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_07_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_01_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_01_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_02_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_02_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_11_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_11_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_06_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_06_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_07_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_07_Original.jpg", alt="foto-gallery")
          .col-xs-6.col-md-4.col-lg-2
            a(href="../uploads/gallery/Gallery_10_Original.jpg")
              img(src="../uploads/gallery/minImg/Gallery_10_Original.jpg", alt="foto-gallery")

      .b-gallery__border
        .container
          ul.c-box__views
            li.c-box__view.txt 32
            li.c-box__video.txt 2
          ul.b-likes.b-likes--wht
            li.b-likes__heading share:
            li.b-likes__facebook.
              <span>1.45K
              <svg x="0px" y="0px"
              viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
              <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
              </svg>
              </span>
            li.b-likes__twitter.
              <span>457
              <svg x="0px" y="0px"
              viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
              <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
              </svg>
              </span>

      .b-scroll
        #scrlBtnGlr.btn-pointer-b__wrap.
          <span class="btn-pointer-b"><b>About this event</b></span>
          <svg class="left" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
          <path fill="#000000" d="M5.0001,49.0002H0V33.8014l4.4054-4.4053L0,24.9905v-0.9612l4.4054-4.4051L0,15.2184V0h5.0001V49.0002z"/>
          </svg>

          <svg class="right" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
          <path fill="#000000" d="M0,0l5.0001,0v15.1988l-4.4054,4.4053l4.4054,4.4056v0.9612L0.5947,29.376l4.4054,4.4058v15.2184H0L0,0z"/>
          </svg>

      .b-gallery__content
        .c-headlines.b-gallery__headlines
          .container
            .c-headlines__ttl FRIENDS Private House Party Private Private House Party House Party
            .c-headlines__date-lg.b-gallery__date-lg
              time(datetime="2015-09-23T08:00").date-lg
                span.date-lg__dt 23
                span.date-lg__rh
                  span.date-lg__rh-m september 2015
                  span.date-lg__rh-d Mon
                  span.date-lg__rh-t 8:00 am

        .b-content.container
          .row
            main.b-main.content.b-blog-inr.col-md-8.col-lg-7
              .txt-intro
                p Friendship - is unselfishness , personal relationship between people based on
                  | sympathy, sincerity, love and trust. But still, we love loud roll
                  | dancing until dawn  and then to "crawl" on the body, remember proschedshem
                  | evente perekrik and share emotions we experienced some time ago.
              .main-video
                .main-video__iframe-wrap
                  iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" allowfullscreen)
                p.main-video__desc.small-txt.
                  Your inner self will meet the full force of the summer, and we can go back to each witness
                  leaving the pores, we go back to basics!
              p.
                Friendship - is unselfishness , personal relationship between people
                based on sympathy, sincerity, love and trust. But still, we love loud
                roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
                 evente perekrik and share emotions we experienced some time ago.
              .b-blog-inr__aside
                .b-blog-inr__img-wrap
                  img(src="../uploads/blog/open/Content_03.jpg" alt="foto")
              p.
                Friendship - is unselfishness , personal relationship between people
                based on sympathy, sincerity, love and trust. But still, we love loud
                roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
                 evente perekrik and share emotions we experienced some time ago.
                 Friendship - is unselfishness , personal relationship between people based
                 on sympathy, sincerity, love and trust. But still, we love loud roll dancing
                 until dawn  and then to "crawl" on the body, remember proschedshem evente
                 perekrik and share emotions we experienced some time ago.
              p.
                Friendship - is unselfishness , personal relationship between people
                based on sympathy, sincerity, love and trust. But still, we love loud
                roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
                 evente perekrik and share emotions we experienced some time ago.
              .b-blog-inr__img-wrap
                img(src="../uploads/blog/open/Content_04_wide.jpg" alt="foto")
              p.
                Friendship - is unselfishness , personal relationship between people
                based on sympathy, sincerity, love and trust. But still, we love loud
                roll dancing until dawn  and then to "crawl" on the body, remember proschedshem
                 evente perekrik and share emotions we experienced some time ago.
                 Friendship - is unselfishness , personal relationship between people based
                 on sympathy, sincerity, love and trust. But still, we love loud roll dancing
                 until dawn  and then to "crawl" on the body, remember proschedshem evente
                 perekrik and share emotions we experienced some time ago.

              h2.s2-heading Nature of the event + bullit & List
              ul
                li Participants of the event , on forms zapolennnym
                li Indoor , 3-storey mansion.
                li
                  | Faith , dress , soul control. But still, we love loud roll dancing until dawn  and then
                  | to "crawl" on the body
                li Waitstaff
                li Hour bar
              ol
                li Free Entrance <sup class="b-footnote__mark">*</sup>
                li Free Bar <sup class="b-footnote__mark">*</sup>
                li Free Pool <sup class="b-footnote__mark">*</sup>
                li Free Things to do on-site <sup class="b-footnote__mark">*</sup>
              .b-footnote
                p.
                  <sup class="b-footnote__mark">*</sup> - Your inner self will meet the full force of the summer,
                  and we can go back to each witness leaving the pores, we go back to basics!

              .b-share
                .b-item__header
                  h6.s6-heading.b-item__ttl-header Share this point
                ul.b-likes.b-share__list
                  li.b-likes__pinterest-p.
                    <span>457
                    <svg x="0px" y="0px"
                    viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                    <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                    </svg>
                    </span>
                  li.b-likes__google-plus.
                    <span>457
                    <svg x="0px" y="0px"
                    viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                    <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                    </svg>
                    </span>
                  li.b-likes__twitter.
                    <span>457
                    <svg x="0px" y="0px"
                    viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                    <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                    </svg>
                    </span>
                  li.b-likes__facebook.
                    <span>1.45K
                    <svg x="0px" y="0px"
                    viewBox="0 0 55 20.4" style="enable-background:new 0 0 55 20.4;" xml:space="preserve">
                    <path class="svg__fill" d="M53,2v16.5H10.9l-8.1-8.3L10.9,2H53 M55,0H10.1L0,10.2l10.1,10.3H55V0L55,0z"/>
                    </svg>
                    </span>

            aside.b-aside.col-md-4.col-lg-4.col-lg-offset-1
              .row
                .b-aside-item.col-xs-12.col-sm-6.col-md-12
                  .b-item__header
                    .s6-heading.b-item__ttl-header You may also like
                  article.c-box.c-box-v__sm
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .b-box__img-wrap.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                      .b-box__grdnt-a
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link

                  article.c-box.c-box-v__sm
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .b-box__img-wrap.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                      .b-box__grdnt-a
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link

                .b-aside-item.col-xs-12.col-sm-6.col-md-12
                  .b-item__header
                    .s6-heading.b-item__ttl-header You may also like
                  article.c-box
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                        hr.hr-pattern
                        p.c-box__txt Stay B, Andrew Feeling, Someone Else
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_12_Retina.jpg")
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link
                  article.c-box
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                        hr.hr-pattern
                        p.c-box__txt Stay B, Andrew Feeling, Someone Else
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_10_Retina.jpg")
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link
                  article.c-box
                    .c-box__inner
                      .c-box__cont
                        h3.c-box__ttl-s3 TRAP  ONLY. best records plus fit
                        hr.hr-pattern
                        p.c-box__txt Stay B, Andrew Feeling, Someone Else
                      .b-box__img-wrap.b-box__grdnt-a.bg-image(data-bgimage="../uploads/events/EventsTiles_14_Retina.jpg")
                      .c-box__date-item
                        time.date.c-box__date(datetime="2009-08-29T20:00")
                          span.date__dt 23
                          span.date__rh
                            span.date__rh-m sept
                            span.date__rh-d Mon
                          span.date__ad 8:00 pm
                      .c-box__link-wrap
                        .btn-pointer__wrap.
                          <a class="btn btn-pointer" href="event-open.html"><span class="btn-pointer__txt">More</span></a>
                          <svg class="btn-pointer__left" x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>

                      a(href="event-open.html" rel="nofollow").b-box__link

        include components/footer
    include components/scripts
