doctype html
html(lang='en')
  include components/head
  body
    .wrap
      include components/header
      .b-headlines
        .container
          .b-breadcrumbs
            ul.b-breadcrumbs__list.x-small-txt
              li: a.link(href="index.html") main
              li Video & Audio
          h1.b-headlines__ttl Video & Audio

      .b-content.container
        .row
          .main-video
            .main-video.col-xs-12
              .main-video__iframe-wrap
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
              p.
                Your inner self will meet the full force of the summer, and we can go back to each witness
                leaving the pores, we go back to basics! Friendship - is unselfishness,
                personal relationship between people based on sympathy, sincerity,
                 love and trust. But still, we love loud roll dancing until dawn and then
                 to "crawl" on the body, remember proschedshem evente perekrik and share
                 emotions we experienced some time ago. Friendship - is unselfishness , personal relationship between
                  people based on sympathy, sincerity, love and trust. But still, we
                  love loud roll dancing until dawn and then to "crawl" on the body, remember
                  proschedshem evente perekrik and share emotions we experienced some time ago.

          .b-video-sm
            .b-video-item.col-md-4.col-xs-12
              .b-video-item__iframe-sm
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
              .b-video__cnt-wrap
                time.b-video-item__data(datetime="2015-15-10") December 15, 2015
                p.b-video-item__txt.
                  Your inner self will meet the full force of the summer

            .b-video-item.col-md-4.col-xs-12
              .b-video-item__iframe-md
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
              p.b-video__figcaption.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis,
                sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi
                sapien ut justo. Nulla varius consequat magna, id molestie ipsum

            .b-video-item.col-md-4.col-xs-12
              .b-video-item__iframe-lg
                iframe(src="https://player.vimeo.com/video/140230038?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

          .b-audio
            .b-audio__item.col-xs-12.col-md-6
              iframe(width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/212039125&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")

            .b-audio__item.col-xs-12.col-md-6
              iframe(width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/225890693&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")






      include components/footer
    include components/scripts