//
// Gallery
// --------------------------------------------------
.b-gallery
  position: relative
  min-height: 375px
  padding-top: 30px
  padding-bottom: 24px
  background-color: $gallery-bg
  color: #fff
  overflow: hidden

.b-gallery__img-wrap
  @extend %bg-images
  display: none

.b-gallery__img-wrap.active
  animation-name: visible
  animation-fill-mode: both
  animation-duration: 1s
  animation-delay: 0.1s

@keyframes visible
  0%
    opacity: 0.07

  100%
    opacity: 0.33

.b-gallery__slider
  width: 100%
  float: left
  margin-bottom: 0

.b-gallery .c-box.c-box--sm
  margin-bottom: 0
  padding-right: 15px
  padding-left: 15px

.b-gallery .c-box.c-box--sm .c-box__inner
  min-height: 190px

.b-gallery .c-box__link
  color: #fff

.b-gallery .slick-prev,
.b-gallery .slick-next
  top: -40px

.b-gallery .slick-prev
  left: auto
  right: 65px
  border-right: none

.b-gallery .slick-next
  right: 15px

.b-gallery__tiles,
.b-gallery__tiles .b-headlines
  background-color: $black-c

.b-gallery__tiles
  position: relative
  min-height: 100%
  z-index: 3

.b-gallery__tiles.top
  position: absolute
  width: 100%

.b-gallery__popup
  overflow: hidden

.b-gallery__popup > div
  position: relative
  padding: 0
  &::before
    @include absolute-center-x-y()
    content: ''
    width: 30px
    height: 50px
    background: url('../images/bars.svg') no-repeat
    background-size: 100%
    background-position-y: center

.b-gallery__popup a
  display: block
  height: 125px
  border-bottom: 0
  overflow: hidden
  transform: translateZ(0)
  & img
    display: block
    width: 100%
    transition: all 0.4s ease

.b-gallery__popup a:hover img
  transform: scale(1.05)

.mfp-bg
  opacity: 1

button.mfp-arrow
  width: 40px
  height: 40px
  margin-top: 0
  border: 2px solid #fff
  opacity: 1
  transform: translateY(-50%)

.mfp-arrow:active
  margin: 0

.mfp-arrow:before
  top: 50%
  left: 50%
  width: auto
  height: auto
  margin: 0
  font-family: $fa
  color: #fff
  border: 0
  opacity: 1
  transform: translate(-50%, -50%)

.mfp-arrow:after
  border: 0

.mfp-arrow-left:before
  content: '\f053'

.mfp-arrow-right:before
  content: '\f054'

button.mfp-arrow:hover
  background-color: #fff
  border-color: #fff
  transition: all 0.2s ease

button.mfp-arrow:hover:before
  color: $black-c
  transition: all 0.2s ease

/* overlay at start */
.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.15s ease

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready
  opacity: 1

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing
  opacity: 0

/* content at start */
.mfp-fade.mfp-wrap .mfp-content,
.mfp-fade.mfp-wrap .mfp-arrow
  opacity: 0
  transition: all 0.1s ease

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content,
.mfp-fade.mfp-wrap.mfp-ready .mfp-arrow
  opacity: 1

/* content aniate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content,
.mfp-fade.mfp-wrap.mfp-removing .mfp-arrow
  opacity: 0

.mfp-s-ready
  position: relative

.mfp-preloader
  @include absolute-center-x-y()
  content: ''
  width: 50px
  height: 70px
  background: url('../images/bars.svg') no-repeat
  background-size: 100%
  background-position-y: center
  text-indent: -9999px


.b-gallery__border
  position: fixed
  bottom: 0
  width: 100%
  height: 49px
  background-color: rgba(32, 32, 32, 0.6)
  z-index: 3

.b-gallery__border .c-box__views
  display: none

.b-gallery__border .b-likes
  display: none

.b-gallery__content
  position: absolute
  top: 80px
  width: 100%
  height: 100%
  overflow: hidden

.b-gallery__content.active
  position: static
  overflow: visible

.b-gallery__headlines
  min-height: 370px
  padding-top: 50px
  background-color: $blog-bg

.b-gallery__headlines .c-headlines__ttl
  color: $black-c

.b-gallery__border.active,
.b-scroll.active
  position: absolute
  top: 50px
  bottom: auto

.b-gallery__date-lg
  margin-top: 30px

.b-gallery__date-lg .date-lg
  display: inline-block
  width: 275px
  padding: 11px 10px 0
  border: 8px solid
  font-family: $second-bold-font
  color: $black-c
  border-color: $black-c

.b-gallery__date-lg .date-lg__dt
  position: relative
  display: block
  float: left
  padding-right: 15px
  padding-bottom: 6px
  font-size: 48px
  line-height: 1

.b-gallery__date-lg .date-lg__dt::after
  content: ''
  position: absolute
  width: 8px
  top: -11px
  right: 0
  bottom: 0
  background-color: $black-c

.b-gallery__date-lg .date-lg__rh
  display: block
  float: left
  padding-left: 10px

.b-gallery__date-lg .date-lg__rh-m
  width: 100%
  margin-top: 4px
  padding-right: 8px
  font-size: 14px

.b-gallery__date-lg .date-lg__rh-d,
.b-gallery__date-lg .date-lg__rh-t
  display: block
  font-size: 12px
  line-height: 15px

.b-gallery__date-lg .date-lg__rh-t
  position: static
  padding: 0 0 0 6px
  color: $black-c
  background: transparent

@media (min-width: $screen-xm)
  .b-gallery__popup a
    height: 220px

@media (min-width: $screen-sm)
  .b-gallery
    padding-top: 94px
    padding-bottom: 82px

  .b-gallery__img-wrap
    display: block
    opacity: 0.33
    filter: blur(6px)

  .b-gallery .c-box.c-box--sm .c-box__inner
    min-height: 220px

  .b-gallery__popup a
    height: 295px

  .b-gallery__border.active,
  .b-scroll.active
    top: 80px

  .b-gallery__date-lg
    top: 30px
    right: 30px

  .b-gallery__date-lg .date-lg
    width: 290px

@media (min-width: $screen-md)
  .b-gallery
    padding-bottom: 65px

  .b-gallery .c-box.c-box--sm .c-box__inner
    min-height: 170px

  .b-gallery__popup a
    height: 260px

  button.mfp-arrow
    width: 50px
    height: 50px

  .b-gallery__border .c-box__views
    position: static
    float: left
    display: block

  .b-gallery__border .c-box__views .txt
    font-size: 24px
    line-height: 50px

  .b-gallery__border .b-likes
    float: right
    display: block

  .b-gallery__border li.b-likes__heading
    line-height: 50px
    vertical-align: middle

@media (min-width: $screen-lg)
  .b-gallery__popup a
    height: 170px

  .body-boxed .b-gallery__border
    width: 1280px

  .body-boxed .b-gallery__popup a
    height: 164px

  .b-gallery__date-lg
    right: 15px

@media (min-width: $screen-xl)
  .b-gallery__popup a
    height: 200px

  .body-boxed .b-gallery__popup a
    height: 164px