﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="contactdine.aspx.cs" Inherits="contactdine" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <div class="b-content b-content--bg-clr">
        <main class="b-main">
          <div class="b-ntfound__wrap">
            <div class="b-ntfound__img-wrap">
              <h2 class="b-ntfound__ttl">Page under construction  </h2><img src="images/404.png" alf="page not found">
            </div>
          </div>
        </main>
      </div>
</asp:Content>

