<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="corporate.aspx.cs" Inherits="corporate" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
         <%--<div class="b-headlines"style="background-image:url(images/ImagesUpdated/High%20Mix.jpg);height:100%;">
        <div class="container" >
        </div>
      </div>--%>
     <!-- Sliding end -->

    <!-- Current Offers 1-->

    <style>
          @media screen and (max-width: 960px) {
            .container {
                width: 100%;
            }

            #a1 {
                width: 20%;
            }
        }
          @media screen and (max-width:640px) {
            .mobim{
                width:100%!important;
                margin:0px!important;
                margin-right:10px!important;
                padding:0px!important
            }
            .mobims{
                height:214px!important;
                width:100%!important;
                background-size:100%!important;
                 margin-right:10px!important;
            }
            .ctext{
                width:100% !important;
                 height:auto!important;
                  margin-right:10px!important;
            }
            .mobimstext{

                padding-left:50px!important;
            }
        }
           @media screen and (max-width:760px) {
            .mobim{
                width:100%!important;
                margin:0px!important;
                padding:0px!important
            }
            .mobims{
                height:214px!important;
                width:100%!important;
                background-size:100%!important;
                 margin-right:10px!important;
            }
            .ctext{
                width:100% !important;
                 height:auto!important;
            }
             .mobimstext{

                padding-left:50px!important;
            }
        }
           @media screen and (max-width:960px) {
            .mobim{
                width:100%!important;
                margin:0px!important;
                padding:0px!important
            }
            .mobims{
                height:214px!important;
                width:100%!important;
                background-size:100%!important;
                 margin-right:10px!important;
            }
            .ctext{
                width:100% !important;
                 height:auto!important;
            }
             .ctextsub{
                width:100% !important;
                 height:auto!important;
                 font-size:14px!important;
            }
            .mobimstext{

                padding-left:50px!important;
            }
        }
            @media screen and (max-width:1360px) {
            .mobim{
                width:100%!important;
                margin:0px!important;
                padding:0px!important
            }
            .mobims{
                height:214px!important;
                width:100%!important;
                background-size:100%!important;
                 margin-right:10px!important;
            }
            .ctext{
                width:100% !important;
                 height:auto!important;
            }
             .ctextsub{
                width:100% !important;
                 height:auto!important;
                 font-size:14px!important;
            }
            .mobimstext{

                padding-left:50px!important;
            }
        }
    .b-panel-t::before {
    border-left: 0px solid #530d85;
}</style>
     
   <div class="b-events"style="background-image:url(images/ImagesUpdated/High%20View.jpg);background-attachment:fixed;margin-top:0px; padding-top:100px!important;">
        <div class="container">
          <div class="row"> 
              
               <%--<h6 class="s6-heading b-tabs__ttl"style="color:white; margin-left:14px; font-family:'Univers LT W01_57 Condensed' !important;">Corporate Offers:</h6>--%>



                 <div class="b-content container ">
         
        <div class="b-panel-t col-xs-4 col-sm-4 ctext" style="top: 21px;    margin-bottom: -66px;    opacity: 0.9;    width: 230px;    height: 5px;    margin-left: 0%; border-left: 0px solid #530d85;" >
          <h2 style="color:white; text-align:justify;font-family:'Univers LT W01_57 Condensed' !important;     margin-top: -10px; ">CORPORATE OFFERS</h2>
      <%--  <div class="b-panel-t__list col-md-12 col-xs-3 ">
    <p  style="color:white;text-align:inherit;"> </p>

            </div>--%>
       </div>
</div>



            <div class="b-tabs col-lg-8 " style="width:100%;">
            
                                       <%--   <p class="c-box__txt"><br /><br /><strong style="color:red;"></strong></p>--%>

             <%-- <ul role="tablist" class="b-tabs__nav b-tabs__nav-tabs">
                <li role="presentation" class="active"><a href="#block-a" aria-controls="block-a" role="tab" data-toggle="tab">
                    <svg baseProfile="tiny" width="10" height="10" x="0px" y="0px" viewBox="0 0 10 10" xml:space="preserve">
                    <path fill="#231F20" d="M0,4h4V0H0V4z M6,0v4h4V0H6z M0,10h4V6H0V10z M6,10h4V6H6V10z"/>
                    </svg></a></li>
                
              </ul>--%>
              <div class="b-tabs__content">
                <div id="block-a" role="tabpanel" class="b-tabs__pane fade in active row ">
                  <div class="b-tabs__pane-item col-sm-6 ">
                    <%--<div class="c-box">--%>
                      <div class="c-box__inner mobims" style="height:357px; width:551.8px; cursor: auto;">

                        <div class="c-box__cont">
                          <h3 class="c-box__ttl-s3 mobims" style="color:white; font-family:'Univers LT W01_57 Condensed' !important;"> 
                               <div class="b-panel-t col-xs-4 ctextsub" style="top: -35px;    margin-bottom: -32px;    opacity: 0.9;    width: 166.5%;    height: 10px;   padding-bottom:50px;padding-top:14px;  margin-left: -6.6%; border-left: 0px solid #800080;" >
          <b style="color:white; text-align:justify;font-family:'Univers LT W01_57 Condensed' !important; font-size: 22px; padding-top:0px;    padding-left:0%  ">2 Vegetarian and 2 Non Vegetarian Appetizers <br /> INR 800++</b>
        
       </div> </h3>
                            
                         <%-- <hr class="hr-pattern">--%>
                   <p class="c-box__txt"style="font-size:25px;font-family:'Univers LT W01_57 Condensed' !important;"> <%--<div class="b-panel-t col-xs-4" style="top: -25px;    margin-bottom: -32px;    opacity: 0.7;    width: 35.5%;    height: 10px;   padding-bottom:36px;padding-top:10px;  margin-left: -5.6%; border-left: 0px solid #800080;" >
          <b style="color:white; text-align:justify;font-family:'Univers LT W01_57 Condensed' !important; font-size: 24px; padding-top:0px;    padding-left:0%  ">INR 800++</b>
        
       </div>--%></p><br />
                           
                           <!-- <p class="c-box__txt" style="width:250px">Offer Valid Till JUNE 30TH SAT </p>--><br />
                       <!--  <div class="col-xs-12 col-xm-6"><a href="#" class="btn indent btn-info btn-anim-a btn--act-a"style="width:220px;">
                          <span class="clr-black"style="height:50px;"></span>
                          <span><svg x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                           <b >Price-800&#8377</b></span></a></div>-->
<%--                          <p class="c-box__txt"style="width:350px;">NOTE:Cannot be clubbed with other offers. Prices does not include taxes.<br />Pick and choose appetizers from our menu</p>--%>

                        </div>
                          
                        <div data-bgimage="images/high-food.jpg" class="b-box__img-wrap  bg-image mobims" style="border:2px solid #e15e32;"></div>
                    <!--    <div class="c-box__date-item">
<%--                            <h2 style="color:white;"><strong>VALIDITY</strong></h2>--%>
                          <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">30</span><span class="date__rh"><span class="date__rh-m">June</span><span class="date__rh-d">Sat</span></span><span class="date__ad">8:00 pm</span></time>
                        </div>-->
                     <!--   <div class="c-box__link-wrap">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Call Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            
                          </div>
                        </div><a href="#" rel="nofollow" class="b-box__link"></a>-->

                           <div class="c-box__link-wrap" style=" left: -5px;">
                          <div class="btn-pointer__wrap" style="overflow:visible !important;">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt" style="color:white; font-family:'Univers LT W01_57 Condensed' !important;">Enquire Now</span></a>
      <%--                    <svg class="btn-pointer__left">
<path d="m 50 0
l  8 5
l -8 5
l  8 5
l -8 5
l  8 5
l -8 5
l  8 5
l -8 5"
style="stroke:black; fill:yellow" />
</svg>--%>
                              <svg class="btn-pointer__left" style="left: 159px !important;z-index: 9999;overflow: visible;" x="0px" y="10px" viewBox="0 0 10 50" xml:space="preserve">
                            <path fill="#c0d23e" d="M 10,50 H 0 l 5-5 l-5-5 l 0,0 v 0 l 0,0 l 5-5 l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v50h10V50z"></path></svg>

                              <%--<svg class="btn-pointer__left" style="left:150px !important;" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#000000" d="M10,50H0l 5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            --%>
                          </div>
                        </div><a href="#" rel="nofollow" class="b-box__link"></a>
                          <div class="c-box__link-wrap"  style="right:2px">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="https://www.zomato.com/bangalore/high-ultra-lounge-malleshwaram/book" target="_blank"><span class="btn-pointer__txt" style="color:white; font-family:'Univers LT W01_57 Condensed' !important;">Book Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#c0d23e" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                           </div>
                        </div><a href="#" rel="nofollow" class="b-box__link" style="cursor:auto"></a>





                      </div>
                   <%-- </div>--%>
                  </div>
                                      

                  <div class="b-tabs__pane-item col-sm-6">
                   <%-- <div class="c-box">--%>
                      <div class="c-box__inner mobims" style="height:357px; width:551.8px;cursor: auto;">
                        <div class="c-box__cont">
                          <h3 class="c-box__ttl-s3 ctext" style="color:white; font-family:'Univers LT W01_57 Condensed' !important;"><div class="b-panel-t col-xs-4 ctextsub" style="top: -35px;    margin-bottom: -32px;    opacity: 0.8;    width: 166.5%;    height: 10px;   padding-bottom:50px;padding-top:13px;  margin-left: -6.5%; border-left: 0px solid #800080;" >
          <b style="color:white; text-align:justify;font-family:'Univers LT W01_57 Condensed' !important; font-size: 22px; padding-top:0px;    padding-left:0%  ">3 Vegetarian and 3 Non Vegetarian Appetizers <br />INR 1200++</b>
        
       </div></h3>
                         <%-- <hr class="hr-pattern">--%>
                          <h3 class="c-box__txt"style="font-size:25px;font-family:'Univers LT W01_57 Condensed' !important;"><%--<div class="b-panel-t col-xs-4" style="top: -25px;    margin-bottom: -32px;    opacity: 0.7;    width: 38.5%;    height: 10px;   padding-bottom:36px;padding-top:10px;  margin-left: -5.6%; border-left: 0px solid #800080;" >
          <b style="color:white; text-align:justify;font-family:'Univers LT W01_57 Condensed' !important; font-size: 24px; padding-top:0px;    padding-left:0%  ">INR 1200++</b>
        
       </div>--%></h3>
                            <br /><!--<p class="c-box__txt" style="width:250px">Offer Valid Till JUNE 30TH SAT </p>--><br />
                          <!--  <div class="col-xs-12 col-xm-6"><a href="#" class="btn indent btn-info btn-anim-a btn--act-a"style="width:220px;">
                          <span class="clr-black"style="height:50px;"></span>
                          <span><svg x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                              
                           <b >Price-1200&#8377</b></span></a></div>-->
<%--                          <p class="c-box__txt"style="width:350px;">NOTE:Cannot be clubbed with other offers. Prices does not include taxes.<br />Pick and choose appetizers from our menu</p>--%>

                        </div>
                        <div data-bgimage="images/food/food3.jpg" class="b-box__img-wrap  bg-image mobims" style="border:2px solid #e15e32;"></div>
                    
                          <%-- <div class="c-box__link-wrap" style="right:420px">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"style="color:white; font-family:'Univers LT W01_57 Condensed' !important;"><span class="btn-pointer__txt">Enquire Now</span></a>
                                 <svg class="btn-pointer__left" style="left: 160px !important;z-index: 9999;overflow: visible;" x="0px" y="10px" viewBox="0 0 10 50" xml:space="preserve">
                            <path fill="#c0d23e" d="M 10,50 H 0 l 5-5 l-5-5 l 0,0 v 0 l 0,0 l 5-5 l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v50h10V50z"></path></svg>
 
                          </div>
                        </div>--%>
                          
                          
                          
                          <div class="c-box__link-wrap" style=" left: -5px;">
                          <div class="btn-pointer__wrap" style="overflow:visible !important;">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt" style="color:white; font-family:'Univers LT W01_57 Condensed' !important;">Enquire Now</span></a>
      <%--                    <svg class="btn-pointer__left">
<path d="m 50 0
l  8 5
l -8 5
l  8 5
l -8 5
l  8 5
l -8 5
l  8 5
l -8 5"
style="stroke:black; fill:yellow" />
</svg>--%>
                              <svg class="btn-pointer__left" style="left: 159px  !important;z-index: 9999;overflow: visible;" x="0px" y="10px" viewBox="0 0 10 50" xml:space="preserve">
                            <path fill="#c0d23e" d="M 10,50 H 0 l 5-5 l-5-5 l 0,0 v 0 l 0,0 l 5-5 l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v50h10V50z"></path></svg>

                              <%--<svg class="btn-pointer__left" style="left:150px !important;" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#000000" d="M10,50H0l 5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            --%>
                          </div>
                        </div>
                          
                          
                          
                          
                          
                          <a href="#" rel="nofollow" class="b-box__link"></a>
                          <div class="c-box__link-wrap"  style="right:2px">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="https://www.zomato.com/bangalore/high-ultra-lounge-malleshwaram/book" target="_blank"><span class="btn-pointer__txt"style="color:white; font-family:'Univers LT W01_57 Condensed' !important;">Book Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#c0d23e" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                           </div>
                        </div><a href="#" rel="nofollow" class="b-box__link"   style="cursor:auto"></a>



                      </div>
                   <%-- </div>--%>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
        <div class="row" style="padding-bottom:100px">
            <div class="b-tabs col-lg-8 mobimstext " style="width:100% ;padding-left:158px;color:white;color:white; font-family:'Univers LT W01_57 Condensed' !important;">
       <p style="margin-left:36px;font-size:18px">
           
           <h2> TERMS OF SERVICES </h2>



        &#9679; Pick and choose the appetizers from the menu<br/>
        &#9679; Cannot be clubbed with other offers<br/>
        &#9679; Prices do not include taxes<br/>
        &#9679; Offer valid for limited time period only</p>
       </div>
            </div>
      
       
      </div>
    
    <!-- Current Offers 1-->
</asp:Content>
