<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="PARTY.aspx.cs" Inherits="PARTY" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <style> .ctext{
                             width:100% !important;
                              height:auto!important;
                                margin-right:10px!important;
                  }

    </style>
     <style type="text/css">  
        @media screen and (max-width:640px) {
            .b-video-item {
                width:300px!important;
            }
        }
         @media screen and (max-width:360px) {
            .b-video-item {
                width:300px!important;
            }
        }
    </style>
    <div class="b-promo" style="background-color: black; border-top: solid; border-color: darkgoldenrod;">
        <div class="container">
            <h1 class="b-headlines__ttl ctext" style="color: white; font-family:'Univers LT W01_57 Condensed' !important;margin-top:100px">NIGHTLIFE</h1>


            <div class="container">
                <div class="row">
                    <%-- <div class="b-tabs col-lg-8" style="width: 99%">--%>
                    <%--<h6 class="s6-heading b-tabs__ttl">Current Offers</h6>--%>

                    <div class="b-tabs__content">
                        <div id="block-a" role="tabpanel" class="b-tabs__pane fade in active row">
                            <div class="col-md-12">
                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <%--<div class="c-box__inner" style="margin-bottom:20px;height:360px;">--%>
                                           <%-- <div class="c-box__cont">--%>
                                                <%-- <h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                          <%--  </div>--%>
                                           <%-- <div data-bgimage="images/Party/Party1.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>--%>
                                            <%--<div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                             <video class="b-video-item" width="560" height="360"  controls style="margin-top:0!important;"> <source src="/images/videos/sheraton.mp4" type="video/mp4">
                    </video>
                                           <%-- <a href="images/Party/Party1.jpg" rel="nofollow" class="b-box__link"></a>--%>
                                       <%-- </div>--%>
                                   <%-- </div>--%>
                                </div>

                              <!--  <div class="b-tabs__pane-item col-sm-6">
                                    <div class="c-box">
                                        <div class="c-box__inner">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Party/Party2.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="images/Party/Party2.jpg" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    </div>
                                </div>-->


                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/faiza1-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="PartyGallary.aspx?ImgIndex=17" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>
                               
                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/faiza2-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="PartyGallary.aspx?ImgIndex=1" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>

                                 <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/faiza3-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="PartyGallary.aspx?ImgIndex=2" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>
                               
                                 <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/faiza4-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="PartyGallary.aspx?ImgIndex=3" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                   <%-- <div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/Faiza5.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="PartyGallary.aspx?ImgIndex=4" rel="nofollow" class="b-box__link"></a>
                                        </div>
                              <%--      </div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/Faiza6.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="PartyGallary.aspx?ImgIndex=5" rel="nofollow" class="b-box__link"></a>
                                        </div>
                              <%--      </div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%-- <h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/Faiza7.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%--<div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="PartyGallary.aspx?ImgIndex=6" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>

                             <!--   <div class="b-tabs__pane-item col-sm-6">
                                    <div class="c-box">
                                        <div class="c-box__inner">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Party/Party6.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="images/Party/Party6.jpg" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">z
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/Faiza8.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="PartyGallary.aspx?ImgIndex=7" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    <%--</div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/Faiza9.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="PartyGallary.aspx?ImgIndex=8" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%-- <h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/IMG%20(103)-min.jpg"  class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%--<div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="PartyGallary.aspx?ImgIndex=9" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    <%--</div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                   <%-- <div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/IMG%20(106)-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="PartyGallary.aspx?ImgIndex=10" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                   <%-- <div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/IMG%20(118)-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="PartyGallary.aspx?ImgIndex=11" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                   <%-- <div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont" >
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/IMG%20(134)-min.jpg"  class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="PartyGallary.aspx?ImgIndex=12" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    <%--</div>--%>
                                </div>

                                
                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%-- <h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/IMG%20(136)-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%--<div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="PartyGallary.aspx?ImgIndex=13" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/IMG%20(138)-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="PartyGallary.aspx?ImgIndex=14" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    <%--</div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/IMG%20(61)-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="PartyGallary.aspx?ImgIndex=15" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    <%--</div>--%>
                                </div>

                                <div class="b-tabs__pane-item col-sm-6">
                                    <%--<div class="c-box">--%>
                                        <div class="c-box__inner" style="margin-bottom:20px;height:360px;">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Nightlife14/compressjpeg%20(3)/IMG%20(70)-min.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="PartyGallary.aspx?ImgIndex=16" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                   <%-- </div>--%>
                                </div>

                                


                             <!--   <div class="b-tabs__pane-item col-sm-6">
                                    <div class="c-box">
                                        <div class="c-box__inner">
                                            <div class="c-box__cont">
                                                <%-- <h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Party/Party17.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%--<div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="images/Party/Party17.jpg" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    </div>
                                </div>-->

                               <!-- <div class="b-tabs__pane-item col-sm-6">
                                    <div class="c-box">
                                        <div class="c-box__inner">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Party/Party18.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="images/Party/Party18.jpg" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    </div>
                                </div>-->

                             <!--   <div class="b-tabs__pane-item col-sm-6">
                                    <div class="c-box">
                                        <div class="c-box__inner">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Party/Party19.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                            
                                            <a href="images/Party/Party19.jpg" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    </div>
                                </div>-->

                              <!--  <div class="b-tabs__pane-item col-sm-6">
                                    <div class="c-box">
                                        <div class="c-box__inner">
                                            <div class="c-box__cont">
                                                <%--<h3 class="c-box__ttl-s3">TRAP  ONLY. best records plus fit</h3>
                                            <hr class="hr-pattern">
                                            <p class="c-box__txt">Stay B, Andrew Feeling, Someone Else</p>--%>
                                            </div>
                                            <div data-bgimage="images/Party/Party20.jpg" class="b-box__img-wrap b-box__grdnt-a bg-image"></div>
                                            <%-- <div class="c-box__date-item">
                                            <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">23</span><span class="date__rh"><span class="date__rh-m">sept</span><span class="date__rh-d">Mon</span></span><span class="date__ad">8:00 pm</span></time>
                                        </div>--%>
                                           
                                            <a href="images/Party/Party20.jpg" rel="nofollow" class="b-box__link"></a>
                                        </div>
                                    </div>
                                </div>-->

                            </div>
                        </div>
                    </div>
                    <%-- </div>--%>
                </div>
            </div>
        </div>
    </div>
</asp:Content>

