﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Sundaybrunch.aspx.cs" Inherits="Sundaybrunch" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <!-- Sliding start -->

    <%--<div class="b-headlines"style="background-image:url(images/ImagesUpdated/SundayBrunch.jpg);">
        <div class="container" >
          <div class="b-breadcrumbs">
            
          </div>
         
        </div>
      </div>--%>
     <!-- Sliding end -->
        <div class="b-events"style="background-image:url(images/ImagesUpdated/SundayBrunch.jpg);background-attachment:fixed">
        <div class="container">
          <div class="row" style="margin-left:-28px; padding-top:250px;">
            <div class="b-tabs col-lg-8 " style="width:108% ;">
              <h6 class="s6-heading b-tabs__ttl"style="color:white;">HAWKER'S BRUNCH</h6>

              <div class="b-tabs__content">
                  
                <div id="block-a" role="tabpanel" class="b-tabs__pane fade in active row col-md-12 col-sm-12 col-xs-12">
                  <div class="b-tabs__pane-item" style="width:90%;">
                    <div class="c-box__web-inspector-hide-shortcut__" >
                      <div class="c-box__inner">
                         
                        <div data-bgimage="images/ImagesUpdated/Hawkers%20Brunch1.JPG" class="b-box__img-wrap  bg-image"style="align-content:center;height:414px; width:776px; margin-left:120px; margin-top:inherit"> 
                                    <div class="container">
          <h2 style="color:white; text-align:center; "><b></b></h2>
          <p  style="color:white;text-align:center;">
            
          </p>
        </div>
 </div>
                
                    
                      </div>
                    </div>
                  </div>
                    </div>
                  </div>

            </div>
              </div>
                   <div class="btn-pointer-b__wrap"style="text-align:center; margin-left:136px; margin-top:11px;">
            <a href="contacthigh.aspx" class="btn-pointer-b btn-anim-b" ><b>Enquire Now</b></a>
            <svg class="left" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" d="M5.0001,49.0002H0V33.8014l4.4054-4.4053L0,24.9905v-0.9612l4.4054-4.4051L0,15.2184V0h5.0001V49.0002z"/>
            </svg>
            
            <svg class="right" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" d="M0,0l5.0001,0v15.1988l-4.4054,4.4053l4.4054,4.4056v0.9612L0.5947,29.376l4.4054,4.4058v15.2184H0L0,0z"/>
            </svg>
            
          </div>  



              <div class="btn-pointer-b__wrap"style="text-align:center; margin-left:15px">
            <a href="https://www.zomato.com/bangalore/high-ultra-lounge-malleshwaram/book" class="btn-pointer-b btn-anim-b" ><b>Book Now</b></a>
            <svg class="left" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" d="M5.0001,49.0002H0V33.8014l4.4054-4.4053L0,24.9905v-0.9612l4.4054-4.4051L0,15.2184V0h5.0001V49.0002z"/>
            </svg>
            
            <svg class="right" x="0px" y="0px" viewBox="0 0 5 50" enable-background="new 0 0 5 50" xml:space="preserve">
            <path fill="#000000" d="M0,0l5.0001,0v15.1988l-4.4054,4.4053l4.4054,4.4056v0.9612L0.5947,29.376l4.4054,4.4058v15.2184H0L0,0z"/>
            </svg>
            
          </div>  




            </div>
       
       </div>
              
    
</asp:Content>

