﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="members.aspx.cs" Inherits="members" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <div class="b-headlines"style="background-image:url(images/high-dine.jpg);height:350px;">
        <div class="container" >
        </div>
      </div>
     <!-- Sliding end -->

    <!-- Current Offers 1-->
      
   <div class="b-events"style="background-color:black">
        <div class="container">
          <div class="row">
            <div class="b-tabs col-lg-8 " style="width:108% ;">
              <h6 class="s6-heading b-tabs__ttl"style="color:white;">Members Offers:</h6>
                                       <!--   <p class="c-box__txt"><br /><BR /><strong style="color:red;">Offer Valid Till JUNE 30TH SAT</strong></p>-->

              <ul role="tablist" class="b-tabs__nav b-tabs__nav-tabs">
                <li role="presentation" class="active"><a href="#block-a" aria-controls="block-a" role="tab" data-toggle="tab">
                    <svg baseProfile="tiny" width="10" height="10" x="0px" y="0px" viewBox="0 0 10 10" xml:space="preserve">
                    <path fill="#231F20" d="M0,4h4V0H0V4z M6,0v4h4V0H6z M0,10h4V6H0V10z M6,10h4V6H6V10z"/>
                    </svg></a></li>
                
              </ul>
              <div class="b-tabs__content">
                <div id="block-a" role="tabpanel" class="b-tabs__pane fade in active row">
                  <div class="b-tabs__pane-item col-sm-6">
                    <div class="c-box">
                      <div class="c-box__inner">
                        <div class="c-box__cont">
                         <!-- <h3 class="c-box__ttl-s3">OFFER 1 </h3>
                          <hr class="hr-pattern">
                          <p class="c-box__txt"style="width:250px;">2 Vegetarian and 2 Non Vegetarian Appetizers</p><br />-->
                            <!--<p class="c-box__txt" style="width:250px">Offer Valid Till JUNE 30TH SAT </p><br />-->
                     <!--    <div class="col-xs-12 col-xm-6"><a href="#" class="btn indent btn-info btn-anim-a btn--act-a"style="width:220px;">
                          <span class="clr-black"style="height:50px;"></span>
                          <span><svg x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                           <b >Price-800&#8377</b></span></a></div>-->
<%--                          <p class="c-box__txt"style="width:350px;">NOTE:Cannot be clubbed with other offers. Prices does not include taxes.<br />Pick and choose appetizers from our menu</p>--%>

                        </div>
                          
                        <div data-bgimage="images/Membership1.png" class="b-box__img-wrap bg-image"></div>
                <!--        <div class="c-box__date-item">
<%--                            <h2 style="color:white;"><strong>VALIDITY</strong></h2>--%>
                          <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">30</span><span class="date__rh"><span class="date__rh-m">June</span><span class="date__rh-d">Sat</span></span><span class="date__ad">8:00 pm</span></time>
                        </div>-->
                          
                        <!-- <div class="c-box__link-wrap">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Call Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            
                          </div>
                        </div><a href="#" rel="nofollow" class="b-box__link"></a>-->
                         <!--  <div class="c-box__link-wrap" style="right:380px">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Enquire Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            
                          </div>
                        </div>--><a href="#" rel="nofollow" class="b-box__link"></a>
                          <!--<div class="c-box__link-wrap"  style="right:2px">
                              <br/>
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contactdine.aspx"><span class="btn-pointer__txt">Enquire Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                           </div>
                        </div>--><a href="#" rel="nofollow" class="b-box__link"></a>
                      </div>
                    </div>
                  </div>
                                      

               <div class="b-tabs__pane-item col-sm-6">
                   <!-- <div class="c-box">
                      <div class="c-box__inner">
                        <div class="c-box__cont">-->
                                       <h1 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">TERMS AND CONDITIONS</h1>
                        <ul> <li>  <h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">1. Card entitles for free entry for self + 1</h3></li>
                             <li>   <h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">2. Applicable on all days: except for entry on special events</h3></li>
                              <li><h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">3. Card entitles for 10% discount on the total food & beverage bill above INR 5,000 exclusive of taxes</h3></li>
                               <li><h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">4. Right of admission reserved </h3></li>
                                <li><h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">5. Card is non-transferrable</h3></li>
                              <li> <h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif""> 6. Management has the rights to retrieve the card benefits as well as membership anytime during the duration of the card's validity.</h3></li></ul>
                      
                          <!--<h3 class="c-box__ttl-s3">OFFER 2</h3>
                          <hr class="hr-pattern">-->
                       <!--   <p class="c-box__txt"style="width:250px;">3 Vegetarian and 3 Non vegetarian appetizers</p>-->
                            <br /><!--<p class="c-box__txt" style="width:250px">Offer Valid Till JUNE 30TH SAT </p><br />
                          <!--  <div class="col-xs-12 col-xm-6"><a href="#" class="btn indent btn-info btn-anim-a btn--act-a"style="width:220px;">
                          <span class="clr-black"style="height:50px;"></span>
                          <span><svg x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                              
                           <b >Price-1200&#8377</b></span></a></div>-->
<%--                          <p class="c-box__txt"style="width:350px;">NOTE:Cannot be clubbed with other offers. Prices does not include taxes.<br />Pick and choose appetizers from our menu</p>--%>
                 
                        </div>
                        <!--<div data-bgimage="images/Membership/membership2.jpg" class="b-box__img-wrap  bg-image"></div> -->
                    <!--    <div class="c-box__date-item">
<%--                              <h3 style="color:white;top:20px;"><strong>VALIDITY</strong></h3>--%>
                          <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">30</span><span class="date__rh"><span class="date__rh-m">June</span><span class="date__rh-d">Sat</span></span><span class="date__ad">8:00 pm</span></time>
                        </div>-->
                        
                     <!-- <div class="c-box__link-wrap">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Call Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            
                          </div>
                        </div><a href="#" rel="nofollow" class="b-box__link"></a>-->


                        <!--  <div class="c-box__link-wrap" style="right:380px">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Enquire Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            
                          </div>-->
                      <!-- </div><a href="#" rel="nofollow" class="b-box__link"></a>
                          <div class="c-box__link-wrap"  style="right:2px">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Enquire Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                           </div>
                        </div><a href="#" rel="nofollow" class="b-box__link"></a>




                      </div>-->
                    </div>
                  </div>
               <div class="b-tabs__content">
                <div id="block-a" role="tabpanel" class="b-tabs__pane fade in active row">
                  <div class="b-tabs__pane-item col-sm-6">
                    <div class="c-box">
                      <div class="c-box__inner">
                        <div class="c-box__cont">
                         <!-- <h3 class="c-box__ttl-s3">OFFER 1 </h3>
                          <hr class="hr-pattern">
                          <p class="c-box__txt"style="width:250px;">2 Vegetarian and 2 Non Vegetarian Appetizers</p><br />-->
                            <!--<p class="c-box__txt" style="width:250px">Offer Valid Till JUNE 30TH SAT </p><br />-->
                     <!--    <div class="col-xs-12 col-xm-6"><a href="#" class="btn indent btn-info btn-anim-a btn--act-a"style="width:220px;">
                          <span class="clr-black"style="height:50px;"></span>
                          <span><svg x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                           <b >Price-800&#8377</b></span></a></div>-->
<%--                          <p class="c-box__txt"style="width:350px;">NOTE:Cannot be clubbed with other offers. Prices does not include taxes.<br />Pick and choose appetizers from our menu</p>--%>

                        </div>
                          
                        <div data-bgimage="images/membership2.png" class="b-box__img-wrap bg-image"></div>
                <!--        <div class="c-box__date-item">
<%--                            <h2 style="color:white;"><strong>VALIDITY</strong></h2>--%>
                          <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">30</span><span class="date__rh"><span class="date__rh-m">June</span><span class="date__rh-d">Sat</span></span><span class="date__ad">8:00 pm</span></time>
                        </div>-->
                          
                        <!-- <div class="c-box__link-wrap">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Call Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            
                          </div>
                        </div><a href="#" rel="nofollow" class="b-box__link"></a>-->
                         <!--  <div class="c-box__link-wrap" style="right:380px">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Enquire Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            
                          </div>
                        </div>--><a href="#" rel="nofollow" class="b-box__link"></a>
                          <!--<div class="c-box__link-wrap"  style="right:2px">
                              <br/>
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contactdine.aspx"><span class="btn-pointer__txt">Enquire Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                           </div>
                        </div>--><a href="#" rel="nofollow" class="b-box__link"></a>
                      </div>
                    </div>
                  </div>
                                      

                  <div class="b-tabs__pane-item col-sm-6">
                   <!-- <div class="c-box">
                      <div class="c-box__inner">
                        <div class="c-box__cont">-->
                                       <h1 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">TERMS AND CONDITIONS</h1>
                        <ul> <li>  <h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">1. Card entitles for free entry for lady member + 1</h3></li>
                             <li>   <h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">2. Applicable on all days: except for entry on special events</h3></li>
                              <li><h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">3. Card entitles for 10% discount on the total food & beverage bill above INR 5,000 exclusive of taxes</h3></li>
                               <li><h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">4. Right of admission reserved </h3></li>
                                <li><h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">5. Card is non-transferrable</h3></li>
                              <li> <h3 style="color:white;font-family:arial,Arial, Helvetica, sans-serif"">6. Management has the rights to retrieve the card benefits as well as membership anytime during the duration of the card's validity.</h3></li></ul>
                    
                          <!--<h3 class="c-box__ttl-s3">OFFER 2</h3>
                          <hr class="hr-pattern">-->
                       <!--   <p class="c-box__txt"style="width:250px;">3 Vegetarian and 3 Non vegetarian appetizers</p>-->
                            <br /><!--<p class="c-box__txt" style="width:250px">Offer Valid Till JUNE 30TH SAT </p><br />
                          <!--  <div class="col-xs-12 col-xm-6"><a href="#" class="btn indent btn-info btn-anim-a btn--act-a"style="width:220px;">
                          <span class="clr-black"style="height:50px;"></span>
                          <span><svg x="0px" y="0px"
                          viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                          <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                              
                           <b >Price-1200&#8377</b></span></a></div>-->
<%--                          <p class="c-box__txt"style="width:350px;">NOTE:Cannot be clubbed with other offers. Prices does not include taxes.<br />Pick and choose appetizers from our menu</p>--%>
                 
                        </div>
                        <!--<div data-bgimage="images/Membership/membership2.jpg" class="b-box__img-wrap  bg-image"></div> -->
                    <!--    <div class="c-box__date-item">
<%--                              <h3 style="color:white;top:20px;"><strong>VALIDITY</strong></h3>--%>
                          <time datetime="2009-08-29T20:00" class="date c-box__date"><span class="date__dt">30</span><span class="date__rh"><span class="date__rh-m">June</span><span class="date__rh-d">Sat</span></span><span class="date__ad">8:00 pm</span></time>
                        </div>-->
                        
                     <!-- <div class="c-box__link-wrap">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Call Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            
                          </div>
                        </div><a href="#" rel="nofollow" class="b-box__link"></a>-->


                        <!--  <div class="c-box__link-wrap" style="right:380px">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Enquire Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                            
                          </div>-->
                      <!-- </div><a href="#" rel="nofollow" class="b-box__link"></a>
                          <div class="c-box__link-wrap"  style="right:2px">
                          <div class="btn-pointer__wrap">
                            <a class="btn btn-pointer" href="contacthigh.aspx"><span class="btn-pointer__txt">Enquire Now</span></a>
                            <svg class="btn-pointer__left" x="0px" y="0px"
                            viewBox="0 0 10 50" style="enable-background:new 0 0 10 50;" xml:space="preserve">
                            <path fill="#A82743" d="M10,50H0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5l-5-5l0,0v0l0,0l5-5L0,0l0,0v0h10V50z"/></svg>
                           </div>
                        </div><a href="#" rel="nofollow" class="b-box__link"></a>




                      </div>-->
                    </div>
                  </div>
                    </div>
              </div>
            </div>
          
          </div>
        </div>
     
    
    <!-- Current Offers 1-->
</asp:Content>

